:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: transparent;
  position: relative;
  transition: background 1s ease-in-out;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Roboto Mono', monospace;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      hsl(0, 0%, 0%) 0%,
      hsla(0, 0%, 0%, 0.738) 19%,
      hsla(0, 0%, 0%, 0.541) 34%,
      hsla(0, 0%, 0%, 0.382) 47%,
      hsla(0, 0%, 0%, 0.278) 56.5%,
      hsla(0, 0%, 0%, 0.194) 65%,
      hsla(0, 0%, 0%, 0.126) 73%,
      hsla(0, 0%, 0%, 0.075) 80.2%,
      hsla(0, 0%, 0%, 0.042) 86.1%,
      hsla(0, 0%, 0%, 0.021) 91%,
      hsla(0, 0%, 0%, 0.008) 95.2%,
      hsla(0, 0%, 0%, 0.002) 98.2%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }
}

a, a:active, a:visited {
  color: white;
  text-decoration: none;
}

header {
  position: relative;
  margin: 2rem;
  text-align: right;
  letter-spacing: 0;

  h1 {
    font-weight: 400;
    font-size: 6rem;
    line-height: 1;
    word-spacing: -2.5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 200;
    word-spacing: -1.5rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  z-index: 1;
}

/* Image states */
.bg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &[src=""] {
    display: none;
  }

  &.loaded {
    opacity: 1;
  }
}

/* Date/time states */
.date-time {
  .time,
  .date {
    opacity: 0;
    transform: translateY(5px);
  }

  &.loaded {
    .time,
    .date {
      opacity: 1;
      transform: translateY(0);
      transition: opacity .5s ease-out, transform .5s ease-out;  
    }

    .time {
      transition-delay: .15s;
    }

    .date {
      transition-delay: .25s;
    }
  }
}

/* Photo credit states */
.photo-credit {
  margin: 2rem;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity .5s ease-out, transform .5s ease-out; 

  &.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .3s;
  }
}